#morph-fab-container {    
    height: 90vh;   
    width: 90vw;
    position: relative;
    overflow: hidden;
    top: 5vh;
    left: 5vw;
    z-index: 99999999;
    border-radius: 10px;
    pointer-events: all;
}

#morph-fab-circular-clip {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    top: 90%; 
    left: 95%;
    transform: translate(-50%,-50%);
    pointer-events: all;
}

#morph-fab-content {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: all;
}

#morph-fab {
    border-radius: 50%;
    background-color: #9E9E9E;
    position: absolute;
    top: 90%;
    left: 95%;
    transform: translate(-50%,-50%);
    pointer-events: all;
}

#morph-fab-fade{
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.54);
    opacity: 0;
    z-index: 99999998;
}

#morph-fab-header{
    height: 50%;
    width: 100%;
    position: absolute;
    background-color: #A1887F;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%,-100%);
}

#morph-fab-svg{
    position: absolute;
    top: 97%;
    left: 80%;
    transform: translate(-50%,-100%);
    height: 26vh;
    width: 26vh;
    opacity: 0;
}

#morph-fab-title{
    position: absolute;
    top: 90%;
    left: 38%;
    transform: translate(-50%,-100%);
}