@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
  margin: 0px;
}

div {
  height: 100%;
  width: 100%;
  padding-top: 15vh;
}

svg { visibility: hidden;
      transform: scale(0.8, 0.8);
      display: block;
      margin: auto;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

img {
  width: 70vw;
  margin: auto;
  display: block;
  padding-top: 5vh;
}
