@import url('https://fonts.googleapis.com/css?family=Roboto:100');

div {
  height: 100%;
  width: 100%
}

svg { visibility: hidden;
      viewbox: 0 0 0 0;
      transform: scale(1, 1);
      width: 954px;
      height: 200px;
      display: block;
      margin: auto;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-align: center;
}
