<div flex layout="column" layout-align="start stretch" class="md-accent big-padding" ng-controller="homeController as home">
    <div class="-4dp big-padding"" layout="column" layout-align="center center">
        <span class="md-display-3 big-padding grey-text"><md-icon md-svg-icon="ghost" class="blur" style="height: 3em; width: 3em"></md-icon></span>
        <div class="md-display-1 grey-text">
           Nothing here but ghosts...
           <br><br>
        </div>
        <div full-screen-morph id="full-screen-button"></div>
    </div>
</div>