<div id="morph-fab-fade"></div>
<div id="morph-fab-container">
    <div id="morph-fab-circular-clip">
        <div id="morph-fab-content">
            <div id="morph-fab-header">
                <md-icon flex="nogrow" md-svg-icon="pencil" style="height: 3.5vw; width: 2vw; margin: 0"></md-icon>
                <span id="morph-fab-title" class="md-display-4 thin-text white-text">Create a tournament</span>
            </div>
            <div id="morph-fab-form"></div>
        </div>
    </div>
    <div id="morph-fab"></div>